include .github/stale.yml
include .gitignore
include .gitmodules
include CHANGELOG.md
include LICENSE
include MANIFEST.in
include README.md
include kenlm/.github/workflows/mac.yml
include kenlm/.github/workflows/ubuntu.yml
include kenlm/.github/workflows/windows.yml
include kenlm/.gitignore
include kenlm/BUILDING
include kenlm/CMakeLists.txt
include kenlm/COPYING
include kenlm/COPYING.3
include kenlm/COPYING.LESSER.3
include kenlm/Doxyfile
include kenlm/LICENSE
include kenlm/MANIFEST.in
include kenlm/README.md
include kenlm/clean_query_only.sh
include kenlm/cmake/KenLMFunctions.cmake
include kenlm/cmake/kenlmConfig.cmake.in
include kenlm/cmake/modules/FindEigen3.cmake
include kenlm/compile_query_only.sh
include kenlm/lm/CMakeLists.txt
include kenlm/lm/bhiksha.cc
include kenlm/lm/bhiksha.hh
include kenlm/lm/binary_format.cc
include kenlm/lm/binary_format.hh
include kenlm/lm/blank.hh
include kenlm/lm/build_binary_main.cc
include kenlm/lm/builder/CMakeLists.txt
include kenlm/lm/builder/README.md
include kenlm/lm/builder/TODO
include kenlm/lm/builder/adjust_counts.cc
include kenlm/lm/builder/adjust_counts.hh
include kenlm/lm/builder/adjust_counts_test.cc
include kenlm/lm/builder/combine_counts.hh
include kenlm/lm/builder/corpus_count.cc
include kenlm/lm/builder/corpus_count.hh
include kenlm/lm/builder/corpus_count_test.cc
include kenlm/lm/builder/count_ngrams_main.cc
include kenlm/lm/builder/debug_print.hh
include kenlm/lm/builder/discount.hh
include kenlm/lm/builder/dump_counts_main.cc
include kenlm/lm/builder/hash_gamma.hh
include kenlm/lm/builder/header_info.hh
include kenlm/lm/builder/initial_probabilities.cc
include kenlm/lm/builder/initial_probabilities.hh
include kenlm/lm/builder/interpolate.cc
include kenlm/lm/builder/interpolate.hh
include kenlm/lm/builder/lmplz_main.cc
include kenlm/lm/builder/output.cc
include kenlm/lm/builder/output.hh
include kenlm/lm/builder/payload.hh
include kenlm/lm/builder/pipeline.cc
include kenlm/lm/builder/pipeline.hh
include kenlm/lm/common/CMakeLists.txt
include kenlm/lm/common/compare.hh
include kenlm/lm/common/joint_order.hh
include kenlm/lm/common/model_buffer.cc
include kenlm/lm/common/model_buffer.hh
include kenlm/lm/common/model_buffer_test.cc
include kenlm/lm/common/ngram.hh
include kenlm/lm/common/ngram_stream.hh
include kenlm/lm/common/print.cc
include kenlm/lm/common/print.hh
include kenlm/lm/common/renumber.cc
include kenlm/lm/common/renumber.hh
include kenlm/lm/common/size_option.cc
include kenlm/lm/common/size_option.hh
include kenlm/lm/common/special.hh
include kenlm/lm/common/test_data/bigendian/toy0.1
include kenlm/lm/common/test_data/bigendian/toy0.2
include kenlm/lm/common/test_data/bigendian/toy0.3
include kenlm/lm/common/test_data/bigendian/toy0.kenlm_intermediate
include kenlm/lm/common/test_data/bigendian/toy0.vocab
include kenlm/lm/common/test_data/bigendian/toy1.1
include kenlm/lm/common/test_data/bigendian/toy1.2
include kenlm/lm/common/test_data/bigendian/toy1.3
include kenlm/lm/common/test_data/bigendian/toy1.kenlm_intermediate
include kenlm/lm/common/test_data/bigendian/toy1.vocab
include kenlm/lm/common/test_data/generate.sh
include kenlm/lm/common/test_data/littleendian/toy0.1
include kenlm/lm/common/test_data/littleendian/toy0.2
include kenlm/lm/common/test_data/littleendian/toy0.3
include kenlm/lm/common/test_data/littleendian/toy0.kenlm_intermediate
include kenlm/lm/common/test_data/littleendian/toy0.vocab
include kenlm/lm/common/test_data/littleendian/toy1.1
include kenlm/lm/common/test_data/littleendian/toy1.2
include kenlm/lm/common/test_data/littleendian/toy1.3
include kenlm/lm/common/test_data/littleendian/toy1.kenlm_intermediate
include kenlm/lm/common/test_data/littleendian/toy1.vocab
include kenlm/lm/common/test_data/toy0.arpa
include kenlm/lm/common/test_data/toy1.arpa
include kenlm/lm/config.cc
include kenlm/lm/config.hh
include kenlm/lm/enumerate_vocab.hh
include kenlm/lm/facade.hh
include kenlm/lm/filter/CMakeLists.txt
include kenlm/lm/filter/arpa_io.cc
include kenlm/lm/filter/arpa_io.hh
include kenlm/lm/filter/count_io.hh
include kenlm/lm/filter/filter_main.cc
include kenlm/lm/filter/format.hh
include kenlm/lm/filter/phrase.cc
include kenlm/lm/filter/phrase.hh
include kenlm/lm/filter/phrase_table_vocab_main.cc
include kenlm/lm/filter/thread.hh
include kenlm/lm/filter/vocab.cc
include kenlm/lm/filter/vocab.hh
include kenlm/lm/filter/wrapper.hh
include kenlm/lm/fragment_main.cc
include kenlm/lm/interpolate/CMakeLists.txt
include kenlm/lm/interpolate/backoff_matrix.hh
include kenlm/lm/interpolate/backoff_reunification.cc
include kenlm/lm/interpolate/backoff_reunification.hh
include kenlm/lm/interpolate/backoff_reunification_test.cc
include kenlm/lm/interpolate/bounded_sequence_encoding.cc
include kenlm/lm/interpolate/bounded_sequence_encoding.hh
include kenlm/lm/interpolate/bounded_sequence_encoding_test.cc
include kenlm/lm/interpolate/interpolate_info.hh
include kenlm/lm/interpolate/interpolate_main.cc
include kenlm/lm/interpolate/merge_probabilities.cc
include kenlm/lm/interpolate/merge_probabilities.hh
include kenlm/lm/interpolate/merge_vocab.cc
include kenlm/lm/interpolate/merge_vocab.hh
include kenlm/lm/interpolate/merge_vocab_test.cc
include kenlm/lm/interpolate/normalize.cc
include kenlm/lm/interpolate/normalize.hh
include kenlm/lm/interpolate/normalize_test.cc
include kenlm/lm/interpolate/pipeline.cc
include kenlm/lm/interpolate/pipeline.hh
include kenlm/lm/interpolate/split_worker.cc
include kenlm/lm/interpolate/split_worker.hh
include kenlm/lm/interpolate/streaming_example_main.cc
include kenlm/lm/interpolate/tune_derivatives.cc
include kenlm/lm/interpolate/tune_derivatives.hh
include kenlm/lm/interpolate/tune_derivatives_test.cc
include kenlm/lm/interpolate/tune_instances.cc
include kenlm/lm/interpolate/tune_instances.hh
include kenlm/lm/interpolate/tune_instances_test.cc
include kenlm/lm/interpolate/tune_matrix.hh
include kenlm/lm/interpolate/tune_weights.cc
include kenlm/lm/interpolate/tune_weights.hh
include kenlm/lm/interpolate/universal_vocab.cc
include kenlm/lm/interpolate/universal_vocab.hh
include kenlm/lm/kenlm_benchmark_main.cc
include kenlm/lm/left.hh
include kenlm/lm/left_test.cc
include kenlm/lm/lm_exception.cc
include kenlm/lm/lm_exception.hh
include kenlm/lm/max_order.hh
include kenlm/lm/model.cc
include kenlm/lm/model.hh
include kenlm/lm/model_test.cc
include kenlm/lm/model_type.hh
include kenlm/lm/ngram_query.hh
include kenlm/lm/partial.hh
include kenlm/lm/partial_test.cc
include kenlm/lm/quantize.cc
include kenlm/lm/quantize.hh
include kenlm/lm/query_main.cc
include kenlm/lm/read_arpa.cc
include kenlm/lm/read_arpa.hh
include kenlm/lm/return.hh
include kenlm/lm/search_hashed.cc
include kenlm/lm/search_hashed.hh
include kenlm/lm/search_trie.cc
include kenlm/lm/search_trie.hh
include kenlm/lm/sizes.cc
include kenlm/lm/sizes.hh
include kenlm/lm/state.hh
include kenlm/lm/test.arpa
include kenlm/lm/test_nounk.arpa
include kenlm/lm/trie.cc
include kenlm/lm/trie.hh
include kenlm/lm/trie_sort.cc
include kenlm/lm/trie_sort.hh
include kenlm/lm/value.hh
include kenlm/lm/value_build.cc
include kenlm/lm/value_build.hh
include kenlm/lm/virtual_interface.cc
include kenlm/lm/virtual_interface.hh
include kenlm/lm/vocab.cc
include kenlm/lm/vocab.hh
include kenlm/lm/weights.hh
include kenlm/lm/word_index.hh
include kenlm/lm/wrappers/README
include kenlm/lm/wrappers/nplm.cc
include kenlm/lm/wrappers/nplm.hh
include kenlm/python/CMakeLists.txt
include kenlm/python/_kenlm.pxd
include kenlm/python/example.py
include kenlm/python/kenlm.cpp
include kenlm/python/kenlm.pyx
include kenlm/python/score_sentence.cc
include kenlm/python/score_sentence.hh
include kenlm/setup.py
include kenlm/util/CMakeLists.txt
include kenlm/util/bit_packing.cc
include kenlm/util/bit_packing.hh
include kenlm/util/bit_packing_test.cc
include kenlm/util/cat_compressed_main.cc
include kenlm/util/double-conversion/CMakeLists.txt
include kenlm/util/double-conversion/LICENSE
include kenlm/util/double-conversion/bignum-dtoa.cc
include kenlm/util/double-conversion/bignum-dtoa.h
include kenlm/util/double-conversion/bignum.cc
include kenlm/util/double-conversion/bignum.h
include kenlm/util/double-conversion/cached-powers.cc
include kenlm/util/double-conversion/cached-powers.h
include kenlm/util/double-conversion/diy-fp.h
include kenlm/util/double-conversion/double-conversion.h
include kenlm/util/double-conversion/double-to-string.cc
include kenlm/util/double-conversion/double-to-string.h
include kenlm/util/double-conversion/fast-dtoa.cc
include kenlm/util/double-conversion/fast-dtoa.h
include kenlm/util/double-conversion/fixed-dtoa.cc
include kenlm/util/double-conversion/fixed-dtoa.h
include kenlm/util/double-conversion/ieee.h
include kenlm/util/double-conversion/string-to-double.cc
include kenlm/util/double-conversion/string-to-double.h
include kenlm/util/double-conversion/strtod.cc
include kenlm/util/double-conversion/strtod.h
include kenlm/util/double-conversion/utils.h
include kenlm/util/ersatz_progress.cc
include kenlm/util/ersatz_progress.hh
include kenlm/util/exception.cc
include kenlm/util/exception.hh
include kenlm/util/fake_ostream.hh
include kenlm/util/file.cc
include kenlm/util/file.hh
include kenlm/util/file_piece.cc
include kenlm/util/file_piece.hh
include kenlm/util/file_piece_test.cc
include kenlm/util/file_stream.hh
include kenlm/util/fixed_array.hh
include kenlm/util/float_to_string.cc
include kenlm/util/float_to_string.hh
include kenlm/util/getopt.c
include kenlm/util/getopt.hh
include kenlm/util/have.hh
include kenlm/util/integer_to_string.cc
include kenlm/util/integer_to_string.hh
include kenlm/util/integer_to_string_test.cc
include kenlm/util/joint_sort.hh
include kenlm/util/joint_sort_test.cc
include kenlm/util/mmap.cc
include kenlm/util/mmap.hh
include kenlm/util/multi_intersection.hh
include kenlm/util/multi_intersection_test.cc
include kenlm/util/murmur_hash.cc
include kenlm/util/murmur_hash.hh
include kenlm/util/parallel_read.cc
include kenlm/util/parallel_read.hh
include kenlm/util/pcqueue.hh
include kenlm/util/pcqueue_test.cc
include kenlm/util/pool.cc
include kenlm/util/pool.hh
include kenlm/util/probing_hash_table.hh
include kenlm/util/probing_hash_table_benchmark_main.cc
include kenlm/util/probing_hash_table_test.cc
include kenlm/util/proxy_iterator.hh
include kenlm/util/read_compressed.cc
include kenlm/util/read_compressed.hh
include kenlm/util/read_compressed_test.cc
include kenlm/util/scoped.cc
include kenlm/util/scoped.hh
include kenlm/util/sized_iterator.hh
include kenlm/util/sized_iterator_test.cc
include kenlm/util/sorted_uniform.hh
include kenlm/util/sorted_uniform_test.cc
include kenlm/util/spaces.cc
include kenlm/util/spaces.hh
include kenlm/util/stream/CMakeLists.txt
include kenlm/util/stream/block.hh
include kenlm/util/stream/chain.cc
include kenlm/util/stream/chain.hh
include kenlm/util/stream/config.hh
include kenlm/util/stream/count_records.cc
include kenlm/util/stream/count_records.hh
include kenlm/util/stream/io.cc
include kenlm/util/stream/io.hh
include kenlm/util/stream/io_test.cc
include kenlm/util/stream/line_input.cc
include kenlm/util/stream/line_input.hh
include kenlm/util/stream/multi_progress.cc
include kenlm/util/stream/multi_progress.hh
include kenlm/util/stream/multi_stream.hh
include kenlm/util/stream/rewindable_stream.cc
include kenlm/util/stream/rewindable_stream.hh
include kenlm/util/stream/rewindable_stream_test.cc
include kenlm/util/stream/sort.hh
include kenlm/util/stream/sort_test.cc
include kenlm/util/stream/stream.hh
include kenlm/util/stream/stream_test.cc
include kenlm/util/stream/typed_stream.hh
include kenlm/util/string_piece.cc
include kenlm/util/string_piece.hh
include kenlm/util/string_piece_hash.hh
include kenlm/util/string_stream.hh
include kenlm/util/string_stream_test.cc
include kenlm/util/thread_pool.hh
include kenlm/util/tokenize_piece.hh
include kenlm/util/tokenize_piece_test.cc
include kenlm/util/usage.cc
include kenlm/util/usage.hh
include pyproject.toml
include scripts/convert_to_generic_platform_wheel.py
include scripts/release.sh
include setup.py
include src/hardrules/__init__.py
include src/hardrules/bicleaner_hardrules.py
include src/hardrules/hardrules.py
include src/hardrules/lm.py
include src/hardrules/tokenizer.py
include src/hardrules/training.py
include src/hardrules/util.py
include src/hardrules/writing_scripts.py
include tests/hardrules_test.py
include tests/test-corpus.en-de
include utils/download-pack.sh
exclude MANIFEST.in